<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Disease model</title>

  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/handsontable/7.4.2/handsontable.full.min.css">
</head>


<body>
  <div class="container">

    <div class="row text-center">
      <div class="col-md-12">
        <h1>Model of disease progression</h1>

      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col-md-6 offset-md-3">
        <form id="form">
          <input type="file" id="file_">
        </form>
      </div>
    </div>


    <div class="row">
      <div id="canvas" class="col-md-10" style="height: 500px">
      </div>
      <div id="triggers" class="col-md-2">
      </div>
    </div>

    <div class="row">
      <div id="patient" class="col-md-8 offset-md-1">
        <button type="button" class="btn btn-info btn-sm" onclick="initIndividualData()">Add a new patient</button>
        <button type="button" class="btn btn-info btn-sm" onclick="document.getElementById('file-input').click()">Load existing patient</button>
        <input id="file-input" type="file" name="name" style="display: none;" />

      </div>
    </div>


    <div class="row" style="margin-bottom: 20px">
      <div id="table" class="col-md-8 offset-md-1">
      </div>
    </div>
  </div>

</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/9.5.2/math.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handsontable/7.4.2/handsontable.full.min.js"></script>
<script src="{{ url_for('static', filename='js/utils.js') }}"></script>
<script src="{{ url_for('static', filename='js/models.js') }}"></script>
<script src="{{ url_for('static', filename='js/personalize.js') }}"></script>
<script src="{{ url_for('static', filename='js/init.js') }}"></script>

</html>
